{% extends "base.html" %}

{% block body %}
  <h1>Lista de Categorias</h1>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% if categorias %}
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>Categoria</th>
          <th>Descrição</th>
          <th colspan="2" style="text-align:center">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for c in categorias %}
          <tr>
            <td>{{ c.nome }}</td>
            <td>{{ c.descricao }}</td>
            <td> <a href="{% url 'tarefas:editar_categoria' c.id %}" class="btn btn-outline-info btn-sm">Editar</a> </td>
            <td> <a href="{% url 'tarefas:delete_categoria' c.id %}" class="btn btn-outline-danger btn-sm">Excluir</a> </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="alert alert-info">
      <p>Nenhuma categoria cadastrada no momento!</p>
    </div>
  {% endif %}
  <a href="{% url 'tarefas:nova_categoria' %}"> <button type="button" class="btn btn-outline-secondary">Adicionar categoria</button> </a>
{% endblock body %}
